<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bstu.fit.german.yarmolik.b">
    <!--B NPA to A PA -->
    <uses-permission android:name="ben.permission.STARTBENACTIVITY" />


    <!--A NPA to B PA -->
    <!--<permission
        android:protectionLevel="normal"
        android:label="Start My Activity"
        android:name="ben.permission.STARTBENACTIVITY"
        android:description="@string/app_name"
        />-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PrivilegedActivityB"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--A NPA to B PA -->
        <!--<activity android:name="com.bstu.fit.german.yarmolik.b.PrivilegedActivityB"
            android:permission="ben.permission.STARTBENACTIVITY" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>-->
    </application>

</manifest>